.page {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

.loading {
  padding: 8px;
  color: var(--text-color);
}
